

/* --- ALBUM PAGE SPECIFIC STYLES --- */

.album-header {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 40px;
    padding: 30px 0;
    background: linear-gradient(180deg, #303030 0%, var(--color-background-dark) 100%);
    padding-bottom: 60px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.album-cover-large {
    width: 250px;
    height: 250px;
    border-radius: var(--border-radius);
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.album-details {
    display: flex;
    flex-direction: column;
    color: var(--color-text-white);
}

.album-type {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

.album-name-title {
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 0 10px 0;
}

.album-meta {
    font-size: 1em;
    color: var(--color-text-light);
}

.artist-link-small {
    font-weight: bold;
    color: var(--color-text-white);
}

.artist-link-small:hover {
    text-decoration: underline;
}

.meta-separator {
    margin: 0 8px;
}

.track-header-row {
    display: flex;
    padding: 10px 0;
    margin: 0 var(--padding-card);
    border-bottom: 1px solid #303030;
    color: var(--color-text-light);
    font-size: 0.9em;
    font-weight: bold;
}

.track-name-header {
    flex-grow: 1;
    margin-left: 35px;
}

.track-duration-header {
    width: 100px;
    text-align: right;
}

.track-note-header {
    width: 75px;
    text-align: right;
}

.track-item-album {
    background-color: transparent;
}

.track-item-album:hover {
    background-color: var(--color-background-card);
}

.track-item-album .track-info {
    flex-grow: 1;
    gap: 15px;
}

.track-item-album .track-text-info {
    display: flex;
    flex-direction: column;
}

.track-item-album .track-artist {
    font-size: 0.8em;
    color: var(--color-text-light);
}

.track-item-album .track-details {
    width: 100px;
    justify-content: flex-end;
}

/* --- ARTISTS PAGE SPECIFIC STYLES --- */
.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.content-section {
    margin-bottom: 40px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 10px;
}

.card-item {
    flex: 0 0 200px;
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.card-item:hover {
    background-color: #282828;
}

.card-item a,
.card-item p{
    display: block;
    text-align: center;
}

.card-item.artist img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-item h5 {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- SEARCH PAGE SPECIFIC STYLES --- */

.search-title {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: 700;
}

.card-grid {
    flex-wrap: wrap;
}

.no-result {
    color: var(--color-text-light);
    font-style: italic;
    padding: 10px 0;
}

.track-list-search .track-item {
    background-color: transparent;
}

.track-list-search .track-item:hover {
    background-color: var(--color-background-card);
}


.track-list-search .track-artist {
    display: block;
    font-size: 0.85em;
    color: var(--color-text-light);
}

/* --- ERROR PAGE SPECIFIC STYLES --- */

.error-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
}

.error-title {
    font-size: 3em;
    color: var(--color-text-white);
    margin-bottom: 20px;
}

.error-details p {
    font-size: 1.2em;
    color: var(--color-text-light);
    margin-bottom: 30px;
}

.large-button {
    padding: 15px 30px;
    font-size: 1.1em;
}